.idea

# Logs
logs
*.log

# Firebase cache
.firebase/
.firebaserc
firebase.json

# Work files cache
workfiles

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env.local
